$lightblue: #91B9FF;
$blue: #6DA2FF;
$red: #FF6D6D;
$lightred: #FF9A9A;

$blanco: white;
$blanquito-main: #f7f7f7;
$blanquito-secondary: rgb(253, 253, 253);

$darkBG-main: rgb(15, 15, 26);
$darkBG-secondary:  rgb(30, 30, 40);
$darkBG-hover: rgb(40, 40, 56);

$colortexto: rgb(32, 32, 32);
$muted: rgb(149, 152, 154);

$gradiente: linear-gradient(45deg, $red 15%, $blue 100%);
$fuentedefault: 'Work Sans', sans-serif;
$textoxl: 32px;
$textomd: 20px;
$textosm: 12px;

@mixin breakpoint-up ($size) {
  @if $size=='xs' {
    @media screen and (min-width: 576px) {
      @content;
    }
  }

  @else if $size=='sm' {
    @media screen and (min-width: 768px) {
      @content;
    }
  }

  @else if $size=='md' {
    @media screen and (min-width: 992px) {
      @content;
    }
  }

  @else if $size=='lg' {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin breakpoint-down ($size) {
  @if $size=='xs' {
    @media screen and (max-width: 575.98px) {
      @content;
    }
  }

  @else if $size=='sm' {
    @media screen and (max-width: 767.98px) {
      @content;
    }
  }

  @else if $size=='md' {
    @media screen and (max-width: 991.98px) {
      @content;
    }
  }

  @else if $size=='lg' {
    @media screen and (max-width: 1199.98px) {
      @content;
    }
  }
}
